{% extends 'layouts/layout.html.twig'%}

{% block header %}

{% endblock header %}

{% block content %}

    <section>
        <div class="section-inner">
            <h1 class="text-center mt-4 mb50">Bienvenue sur velos-occasion.be</h1>
            <p class="text-center">Les meilleur site de l'histoire des sites d'annonces de vélos d'occasion</p>

            <div class="container">
                <hr>
                <div class="row mb50">
                    <h2>Les dernières annonces</h2>
                    {% for advert in adverts %}
                        <div class="col-md-4">
                            <div class="hover-item mb30">
                                {% if advert.gallery.photos | length%}
                                <img src="{{ asset('uploads/'~ advert.gallery.photos[0].url) }}" class="img-responsive smoothie" alt="">
                                {% endif %}
                                <div class="overlay-item-caption smoothie"></div>
                                <div class="hover-item-caption smoothie">
                                    <div class="vertical-center smoothie">
                                        <a href="{{ url('showAdvert', {slug: advert.slug}) }}" class="smoothie btn btn-primary">View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item-excerpt">
                                <h4 class="pull-right">{{ advert.price }} €</h4>
                                <h4><a href="{{ url('showAdvert', {slug: advert.slug}) }}">{{ advert.title}}</a></h4>
                                <p><a class="tag-link btn btn-theme btn-default btn-xs smoothie" href="{{ url('showByCategory', {name: advert.category.name}) }}">{{ advert.category.name }}</a> <span class="label label-default">{{ advert.year | date('Y') }}</span></p>
{#                                <p>{{ advert.description }}</p>#}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
